{% extends "base.html" %}

{% block content %}
<h1>Фильмы</h1>

<div class="films">
    {% for film in films %}
        <div class="film-card">

            {% if film.image %}
                <img src="{{ film.image.url }}" alt="{{ film.name }}" width="200">
            {% else %}
                <p>Нет изображения</p>
            {% endif %}

            <h2>{{ film.name }}</h2>

            <p>{{ film.description }}</p>

            <p><strong>Год:</strong> {{ film.year }}</p>

            <a href="{% url 'film_detail' film.id %}">
                Посмотреть
            </a>

        </div>
        <hr>
    {% empty %}
        <p>Фильмов пока нет.</p>
    {% endfor %}
</div>

{% endblock %}
